<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>main.servlet.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <!--
    1.用户发请求:action=add
    2.项目中,web.xml中找到url-pattern = /add ->mapping-AddServlet -> main.servlet-AddServlet->main.servlet.AddServlet
    3.用户发送的是post请求(method = post),tomcat会执行AddServlet中的doPost方法
        -->

    <servlet>
        <servlet-name>DemoServlet</servlet-name>
        <servlet-class>main.demo.DemoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DemoServlet</servlet-name>
        <url-pattern>/demoServlet</url-pattern>
    </servlet-mapping>

    <!--servlet标签给tomcat配置Servlet程序-->
    <servlet>
        <!--servlet-name:给servlet程序取别名(一般是类名)-->
        <servlet-name>HelloServlet</servlet-name>
        <!--servlet-class:Servlet的全类名-->
        <servlet-class>main.servlet.HelloServlet</servlet-class>
    </servlet>
    <!--servlet-mapping:给servlet程序配置访问地址-->
    <servlet-mapping>
        <!--告诉服务器,当前地址给那个servlet程序使用-->
        <servlet-name>HelloServlet</servlet-name>
        <!--配置访问地址:
            /:表示地址http://ip:port/工程路径
            /hello:表示http://ip:port/工程路径/hello
            -->
        <url-pattern>/abc</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletAPI</servlet-name>
        <servlet-class>main.servlet.RequestAPIServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAPI</servlet-name>
        <url-pattern>/servletAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ParameterServlet</servlet-name>
        <servlet-class>main.servlet.ParameterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ParameterServlet</servlet-name>
        <url-pattern>/parameterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlet02</servlet-name>
        <servlet-class>main.servlet.Servlet02</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet02</servlet-name>
        <url-pattern>/servlet02</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlet03</servlet-name>
        <servlet-class>main.servlet.Servlet03</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet03</servlet-name>
        <url-pattern>/servlet03</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ForwardC</servlet-name>
        <servlet-class>main.servlet.ForwardC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForwardC</servlet-name>
        <url-pattern>/forwardC</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResponseIOServlet</servlet-name>
        <servlet-class>main.servlet.ResponseIOServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResponseIOServlet</servlet-name>
        <url-pattern>/responseIOServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Response2</servlet-name>
        <servlet-class>main.servlet.Response2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Response2</servlet-name>
        <url-pattern>/response2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Response1</servlet-name>
        <servlet-class>main.servlet.Response1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Response1</servlet-name>
        <url-pattern>/response1</url-pattern>
    </servlet-mapping>
</web-app>
